<div class="chat">
  <aside class="chat__left-panel">
    <div class="chat__links">
      {{{linkAddChat}}}
      {{{linkProfile}}}
    </div>
    <input type="text" class="chat__search" placeholder="Search">
    <hr class="chat__line">
    {{{chatsList}}}
  </aside>
  {{{chat}}}
</div>
