<div class="chat">
  <aside class="chat__left-panel">
    <a href="/profile.html" class="chat__edit-profile">Профиль</a>
    <input type="text" class="chat__serch" placeholder="Search">
    <hr class="chat__line">
    <ul class="chat__user-cards-list">
      <li class="user-card">
        <div class="user-card__avatar"></div>
        <p class="user-card__name">Косой</p>
        <p class="user-card__message">
          Автомашину куплю с магнитофоном, пошью костюм с отливом – и в Ялту!
        </p>
        <data class="user-card__data">10:49</data>
        <div class="user-card__qty-msg">2</div>
      </li>
      <li class="user-card">
        <div class="user-card__avatar"></div>
        <p class="user-card__name">Алибаба</p>
        <p class="user-card__message">
          А в тюрьме сейчас ужин… макароны…
        </p>
        <data class="user-card__data">9:00</data>
        <div class="user-card__qty-msg">12</div>
      </li>
      <li class="user-card">
        <div class="user-card__avatar"></div>
        <p class="user-card__name">Хмырь</p>
        <p class="user-card__message">
          Это тебе не мелочь по карманам тырить!
        </p>
        <data class="user-card__data">пн</data>
        <div class="user-card__qty-msg">1024</div>
      </li>
      <li class="user-card">
        <div class="user-card__avatar"></div>
        <p class="user-card__name">Трошкин</p>
        <p class="user-card__message">
          Прошу вас, возьмите в руки космические ложки. Подкрепитесь основательно. Ракета до обеда на землю не вернется.
        </p>
        <data class="user-card__data">вс</data>
        <div class="user-card__qty-msg">123</div>
      </li>
      <li class="user-card">
        <div class="user-card__avatar"></div>
        <p class="user-card__name">Анон</p>
        <p class="user-card__message">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla magni quae aspernatur vel ab provident
          quibusdam. Hic fugiat provident deleniti aut, perferendis ratione numquam debitis soluta unde temporibus optio
          saepe!
        </p>
        <data class="user-card__data">сб</data>
      </li>
      <li class="user-card">
        <div class="user-card__avatar"></div>
        <p class="user-card__name">Косой</p>
        <p class="user-card__message">
          Автомашину куплю с магнитофоном, пошью костюм с отливом – и в Ялту!
        </p>
        <data class="user-card__data">10:49</data>
        <div class="user-card__qty-msg">2</div>
      </li>
      <li class="user-card">
        <div class="user-card__avatar"></div>
        <p class="user-card__name">Алибаба</p>
        <p class="user-card__message">
          А в тюрьме сейчас ужин… макароны…
        </p>
        <data class="user-card__data">9:00</data>
        <div class="user-card__qty-msg">12</div>
      </li>
      <li class="user-card">
        <div class="user-card__avatar"></div>
        <p class="user-card__name">Хмырь</p>
        <p class="user-card__message">
          Это тебе не мелочь по карманам тырить!
        </p>
        <data class="user-card__data">пн</data>
        <div class="user-card__qty-msg">1024</div>
      </li>
      <li class="user-card">
        <div class="user-card__avatar"></div>
        <p class="user-card__name">Трошкин</p>
        <p class="user-card__message">
          Прошу вас, возьмите в руки космические ложки. Подкрепитесь основательно. Ракета до обеда на землю не вернется.
        </p>
        <data class="user-card__data">вс</data>
        <div class="user-card__qty-msg">123</div>
      </li>
      <li class="user-card">
        <div class="user-card__avatar"></div>
        <p class="user-card__name">Анон</p>
        <p class="user-card__message">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla magni quae aspernatur vel ab provident
          quibusdam. Hic fugiat provident deleniti aut, perferendis ratione numquam debitis soluta unde temporibus optio
          saepe!
        </p>
        <data class="user-card__data">сб</data>
      </li>
  </aside>
  <main class="chat__main">
    <div class="chat-header">
      <div class="chat-header__avatar"></div>
      <p class="chat-header__name">Доцент</p>
      <button class="chat-header__btn"></button>
    </div>
    <ul class="message-list">
      <li class="message message_place_right">
        <p class="message__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quis facilis obcaecati quia et officia
          accusamus porro animi tempore repellendus sequi corporis praesentium ullam architecto delectus vitae, modi
          veniam rem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quis facilis obcaecati quia et
          officia accusamus porro animi tempore repellendus sequi corporis praesentium ullam architecto delectus vitae,
          modi veniam rem!
        </p>
        <data class="message__data message__data_place_right">9:30</data>
      </li>
      <li class="message message_place_right">
        <p class="message__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quis facilis obcaecati quia et officia
          accusamus porro animi tempore repellendus sequi corporis praesentium ullam architecto delectus vitae, modi
          veniam rem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quis facilis obcaecati quia et
          officia accusamus porro animi tempore repellendus sequi corporis praesentium ullam architecto delectus vitae,
          modi veniam rem!
        </p>
        <data class="message__data message__data_place_right">9:25</data>
      </li>
      <li class="message message_place_right">
        <p class="message__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quis facilis obcaecati quia et officia
          accusamus porro animi tempore repellendus sequi corporis praesentium ullam architecto delectus vitae, modi
          veniam rem!
        </p>
        <data class="message__data message__data_place_right">9:20</data>
      </li>
      <li class="message message_place_right">
        <p class="message__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <data class="message__data message__data_place_right">9:15</data>
      </li>
      <li class="message message_place_right">
        <p class="message__text">Круто!</p>
        <data class="message__data message__data_place_right"">9:10</data>
      </li>
      <li class="message">
        <p class="message__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quis facilis obcaecati quia et officia
          accusamus porro animi tempore repellendus sequi corporis praesentium ullam architecto delectus vitae, modi
          veniam rem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quis facilis obcaecati quia et
          officia accusamus porro animi tempore repellendus sequi corporis praesentium ullam architecto delectus vitae,
          modi veniam rem!
        </p>
        <data class="message__data">9:05</data>
      </li>
      <li class="message">
        <p class="message__text">
          Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не
          попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.
        </p>
        <data class="message__data">9:05</data>
      </li>
      <li class="message">
        <p class="message__text">
          Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила
          Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью
          500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с
          собой забрали только кассеты с пленкой.
        </p>
        <data class="message__data">9:00</data>
      </li>
    </ul>
    <div class="message-enter">
      <button class="message-enter__menu-btn"></button>
      <form class="message-enter__form" novalidate>
        <input type="text" class="message-enter__input" name="message" placeholder="Message" autocomplete="off">
        <button type="submit" class="message-enter__send-btn"></button>
      </form>
    </div>
  </main>
</div>
