@import "../../assets/scss/variables";

.chat {
  display: flex;
  height: 100vh;
  min-width: 100%;

  &__left-panel {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 30%;
    min-height: 100%;
    border-right: 1px solid $second-bg-color;
    padding: 32px 0 5px;
  }

  &__edit-profile {
    color: $second-color;
    text-decoration: none;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
    background-image: url(../../assets/images/edit-icon-grey.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 100%;
    padding-right: 26px;
    min-width: 20px;
    align-self: flex-end;
    transition: opacity 0.25s;
    margin: 0 16px;
    outline: none;

    &:hover {
      opacity: 0.75;
    }
  }

  &__serch {
    color: $white-color;
    font-size: 18px;
    margin: 26px 16px 36px;
    border: none;
    background-color: $second-bg-color;
    line-height: 48px;
    border-radius: 24px;
    padding: 0 16px 0 48px;
    background-image: url(../../assets/images/find-icon.svg);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 16px;

    &::placeholder {
      color: $second-color;
      opacity: 1;
      transition: opacity 0.25s ease;
    }

    &:focus {
      outline: 2px solid $main-color;

      &::placeholder {
        opacity: 0;
        transition: opacity 0.25s ease;
      }
    }
  }

  &__line {
    height: 1px;
    border: none;
    background-color: $second-bg-color;
    margin: 0 16px;
  }

  &__user-cards-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0 16px 10px;
    overflow-y: auto;
  }

  &__main {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
}

.chat-header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 16px 0 10px;
  gap: 16px;
  margin: 0 20px;
  border-bottom: 1px solid $second-bg-color;

  &__avatar {
    width: 54px;
    height: 54px;
    background-color: $second-bg-color;
    border-radius: 12px;
  }

  &__name {
    font-size: 16px;
    color: $white-color;
    flex-grow: 1;
  }

  &__btn {
    background: none;
    background-image: url(../../assets/images/btn-menu.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 22px 22px;
    background-color: $second-bg-color;
    width: 36px;
    height: 36px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.25s;

    &:hover {
      background-color: $main-color;
    }
  }
}

.message-list {
  display: flex;
  flex-direction: column-reverse;
  align-items:flex-end;
  flex-grow: 1;
  gap: 10px;
  overflow-y: auto;
  overflow-anchor: none;
  list-style: none;
  padding: 0 16px;
  margin: 16px;
}

.message {
  display: flex;
  flex-direction: column;
  align-self:flex-start;
  max-width: 640px;
  background-color: $second-bg-color;
  padding: 10px 26px;
  border-radius: 0 20px 16px;
  gap: 8px;

  &_place_right {
    align-self: flex-end;
    border-radius: 16px 20px 0;
    background-color: $third-bg-color;
  }

  &__text {
    margin: 0;
    font-size: 15px;
    line-height: 21px;
    font-weight: 300;
  }

  &__data {
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    color: $second-color;
    align-self: flex-end;

    &_place_right {
      background-image: url(../../assets/images/read-icon.svg);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 20px 14px;
      padding-left: 22px;
    }
  }
}

.message-enter {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px 0 28px;
  margin: 0 20px;
  gap: 10px;
  border-top: 1px solid $second-bg-color;

  &__menu-btn {
    background: none;
    background-image: url(../../assets/images/file-menu-icon.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 36px 36px;
    width: 36px;
    height: 36px;
    border: none;
    cursor: pointer;
    transition: background-image 0.25s;

    &:hover {
      background-image: url(../../assets/images/file-menu-icon-active.svg);
    }
  }

  &__form {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 10px;
  }

  &__input {
    color: $white-color;
    font-size: 16px;
    border: none;
    background-color: $second-bg-color;
    line-height: 36px;
    border-radius: 18px;
    padding: 0 16px;
    flex-grow: 1;

    &::placeholder {
      color: $second-color;
      opacity: 1;
      transition: opacity 0.25s ease;
    }

    &:focus {
      outline: 2px solid $main-color;

      &::placeholder {
        opacity: 0;
        transition: opacity 0.25s ease;
      }
    }
  }

  &__send-btn {
    background: none;
    background-image: url(../../assets/images/send-message-icon.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 36px 36px;
    width: 36px;
    height: 36px;
    border: none;
    cursor: pointer;
    transition: opacity 0.25s;

    &:hover {
      opacity: 0.5;
    }
  }
}

.user-card {
  display: grid;
  grid-template-columns: 58px 1fr min-content;
  grid-template-rows: 22px repeat(2, 18px);
  border-bottom: 1px solid $second-bg-color;
  padding: 18px 0;
  column-gap: 10px;

  &__avatar {
    background-color: $second-bg-color;
    border-radius: 14px;
    grid-column: 1;
    grid-area: 1 / 1 / 4 / 2;
  }

  &__name {
    grid-area: 1 / 2;
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
  }

  &__data {
    grid-area: 1 / 3;
    font-size: 12px;
    font-weight: 700;
    color: $second-color;
    justify-self: flex-end;
  }

  &__message {
    grid-area: 2 / 2 / 4 / 3;
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    color: $second-color;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__qty-msg {
    grid-area: 2 / 3 / 4 / 4;
    place-self: center end;
    background-color: $main-color;
    border-radius: 9px;
    text-align: center;
    font-size: 12px;
    padding: 2px;
    line-height: 18px;
    color: $main-bg-color;
    min-width: 18px;
    padding: 0 6px;
    font-size: 12px;
    line-height: 18px;
    box-sizing: border-box;
    font-weight: 700;
  }
}
