<form class="form form__user">
  <h1 class="title">Удаление пользователей из {{titleChat}}</h1>
  <fieldset class="form-find-users">
    {{#each getUsers}}
      {{{this}}}
    {{/each}}
  </fieldset>
  {{{deleteBtn}}}
  {{{link}}}
</form>
