@import '../sass/mixins'

.root
  @include root
.form
  @include general
  &__title
    font-weight: 400
    font-size: 20px
    margin: 0
  &__fieldset
    padding: 0
    margin: 50px 0 0
    min-width: 460px
    border: none
    &_form_register
      display: grid
      grid-template-columns: repeat(2, 1fr)
      min-width: 960px
      column-gap: 40px
  &__field
    margin-top: 32px
    border: none
    display: flex
    flex-direction: column
    position: relative
    &:first-child
      margin-top: 0
    &_form_register
      &:nth-child(2)
        margin-top: 0
  &__label
    font-weight: 700
    font-size: 18px
    color: $second-color
  &__input
    padding: 26px 30px
    margin-top: 16px
    border: none
    font-size: 20px
    line-height: 24px
    background: none
    border: 2px solid $second-bg-color
    border-radius: 8px
    color: $white-color
    &:focus
      outline: 2px solid $main-color
      &::placeholder
        opacity: 0
        transition: opacity 0.25s ease
    &::placeholder
      color: $white-color
      opacity: 1
      transition: opacity 0.25s ease
    &_error
      border: 2px solid $error-color
      &::placeholder
        color: $error-color
      &:focus
        outline: none
  &__input-error
    position: absolute
    background-color: $error-color
    color: $white-color
    left: 20px
    right: 20px
    top: 92px
    min-height: 48px
    border-radius: 8px
    box-sizing: border-box
    padding: 5px
    font-weight: 400
    font-size: 14px
    line-height: 19px
    justify-content: center
    align-items: center
    display: none
  &__link-wrapper
    margin: 40px 0 0
    text-align: center
    font-weight: 400
    font-size: 16px
    color: grey
    letter-spacing: normal
    display: flex
    flex-direction: column
    gap: 15px
  &__link
    text-decoration: none
    color: $main-color
    transition: transform 0.25s
    &:hover
      transform: scale(1.5)
.hide
  display: none
.show
  display: flex
.avatar
  position: relative
  margin-bottom: 30px
  width: 115px
  height: 115px
  &__img
    width: 115px
    height: 115px
    object-fit: cover
    object-position: center
    border-radius: 16px
    border: 3px solid $second-bg-color
    box-sizing: border-box
  &__button
    background-color: rgba(0,0,0,.5)
    background-image: url('../images/edit.svg')
    background-position: 50%
    background-repeat: no-repeat
    background-size: 26px
    border: none
    border-radius: 16px
    cursor: pointer
    width: 101%
    height: 101%
    left: 50%
    opacity: 0
    outline: none
    padding: 0
    position: absolute
    top: 50%
    transform: translate(-50%,-50%)
    transition: opacity .25s
    &:hover
      opacity: 1

@media (max-width: 1024px)
  .form
    &__fieldset
      &_form_register
        display: flex
        flex-direction: column
        min-width: 460px
    &__field
      &_form_register
        &:nth-child(2)
          margin-top: 32px
