.form
  &__title
    font-weight: 400
    font-size: 20px
    margin: 0
  &__fieldset
    padding: 0
    margin: 50px 0 0
    min-width: 460px
    border: none
    &_form_register
      display: grid
      grid-template-columns: repeat(2, 1fr)
      min-width: 960px
      column-gap: 40px
  &__link-wrapper
    margin: 40px 0 0
    text-align: center
    font-weight: 400
    font-size: 16px
    color: grey
    letter-spacing: normal
    display: flex
    flex-direction: column
    gap: 15px
  &__link
    text-decoration: none
    color: $main-color
    transition: transform 0.25s
    &:hover
      transform: scale(1.5)
.hide
  display: none
.show
  display: flex
.avatar
  position: relative
  margin-bottom: 30px
  width: 115px
  height: 115px
  &__img
    width: 115px
    height: 115px
    object-fit: cover
    object-position: center
    border-radius: 16px
    border: 3px solid $second-bg-color
    box-sizing: border-box
  &__button
    background-color: rgba(0,0,0,.5)
    background-image: url('../images/edit.svg')
    background-position: 50%
    background-repeat: no-repeat
    background-size: 26px
    border: none
    border-radius: 16px
    cursor: pointer
    width: 101%
    height: 101%
    left: 50%
    opacity: 0
    outline: none
    padding: 0
    position: absolute
    top: 50%
    transform: translate(-50%,-50%)
    transition: opacity .25s
    &:hover
      opacity: 1

@media (max-width: 1024px)
  .form
    &__fieldset
      &_form_register
        display: flex
        flex-direction: column
        min-width: 460px
    &__field
      &_form_register
        &:nth-child(2)
          margin-top: 32px
