@import "../../assets/scss/variables";

.chat-main {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.chat-header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 16px 0 10px;
  gap: 16px;
  margin: 0 20px;
  border-bottom: 1px solid $second-bg-color;
  min-height: 81px;

  &__avatar {
    width: 54px;
    height: 54px;
    background-color: $second-bg-color;
    border-radius: 12px;
  }

  &__name {
    font-size: 16px;
    color: $white-color;
    flex-grow: 1;
  }

  &__btn {
    background: none;
    background-image: url("../../assets/images/btn-menu.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 22px 22px;
    background-color: $second-bg-color;
    width: 36px;
    height: 36px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.25s;

    &:hover {
      background-color: $main-color;
    }
  }
}

.message-list {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  flex-grow: 1;
  gap: 10px;
  overflow-y: auto;
  overflow-anchor: none;
  list-style: none;
  padding: 0 16px;
  margin: 16px;
}

.message-enter {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px 0 28px;
  margin: 0 20px;
  gap: 10px;
  border-top: 1px solid $second-bg-color;

  &__menu-btn {
    background: none;
    background-image: url("../../assets/images/file-menu-icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 36px 36px;
    width: 36px;
    height: 36px;
    border: none;
    cursor: pointer;
    transition: background-image 0.25s;

    &:hover {
      background-image: url("../../assets/images/file-menu-icon-active.svg");
    }
  }

  &__form {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 10px;
  }

  &__input {
    color: $white-color;
    font-size: 16px;
    border: none;
    background-color: $second-bg-color;
    line-height: 36px;
    border-radius: 18px;
    padding: 0 16px;
    flex-grow: 1;

    &::placeholder {
      color: $second-color;
      opacity: 1;
      transition: opacity 0.25s ease;
    }

    &:focus {
      outline: 2px solid $main-color;

      &::placeholder {
        opacity: 0;
        transition: opacity 0.25s ease;
      }
    }
  }

  &__send-btn {
    background: none;
    background-image: url("../../assets/images/send-message-icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 36px 36px;
    width: 36px;
    height: 36px;
    border: none;
    cursor: pointer;
    transition: opacity 0.25s;

    &:hover {
      opacity: 0.5;
    }
  }
}
