<li class="user-card">
  <div class="user-card__avatar"></div>
  <p class="user-card__name">{{userName}}</p>
  <p class="user-card__message">{{lastMessage}}</p>
  <data class="user-card__date">{{dateLastMessage}}</data>
  <div class="user-card__qty-msg">{{qtyUnreadMessage}}</div>
</li>
