@import "../../assets/scss/_mixins";
@import "../../assets/scss/_variables";

.avatar {
  position: relative;
  margin-bottom: 30px;
  width: 115px;
  height: 115px;

  &__img {
    width: 115px;
    height: 115px;
    object-fit: cover;
    object-position: center;
    background-image: url("../../assets/images/avatar.jpg");
    background-size: 115px;
    border-radius: 16px;
    border: 3px solid $second-bg-color;
    box-sizing: border-box;
  }

  &__button {
    background-color: rgba(0 0 0 / 50%);
    background-image: url("../../assets/images/edit.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 26px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    width: 101%;
    height: 101%;
    left: 50%;
    opacity: 0;
    outline: none;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.25s;

    &:hover {
      opacity: 1;
    }
  }
}

.form {
  @include flex-column;

  &__fieldset {
    @include fieldset;

    &_columns_two {
      @include grid;
    }
  }
}

@media (max-width: 1024px) {
  .form {
    &__fieldset {
      &_columns_two {
        @include flex-column;
        min-width: 460px;
      }
    }
  }
}
