---
title: "Ошибка 500"
error-title: "404"
error-desc: "Ошибка сервера"
url: "./index.hbs"
---

<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="../vendor/normalize.css">
  <link rel="stylesheet" href="../vendor/fonts.sass">
  <link rel="stylesheet" href="../sass/error-page.sass">
</head>

<body class="root">
  <section id="root" class="error-page">
    <div class="error-page__container">
      <h1 class="error-page__title">{{error-title}}</h1>
      <p class="error-page__description">{{error-desc}}</p>
    </div>
    <a class="error-page__link" href={{url}}>Назад</a>
  </section>
</body>

</html>
