---
title: "Главная"
---

<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="../vendor/normalize.css">
  <link rel="stylesheet" href="../vendor/fonts.sass">
  <link rel="stylesheet" href="../sass/index.sass">
</head>

<body class="root">
  <main id="root" class="main">
    <h1 class="main__title">Страницы</h1>
    <nav class="main__navigation">
      <a class="main__link" href="./signin.hbs">Авторизация</a>
      <a class="main__link" href="./signup.hbs">Регистрация</a>
      <a class="main__link" href="./profile.hbs">Профиль</a>
      <a class="main__link" href="./chat.hbs">Мессенджер</a>
      <a class="main__link" href="./error-page-404.hbs">Ошибка 404</a>
      <a class="main__link" href="./error-page-500.hbs">Ошибка 500</a>
    </nav>
  </main>
</body>

</html>
