@import '../../assets/sass/_mixins'

.main
  &__navigation
    @include fieldset
  &__title
    font-weight: 400
    margin: 0 0 15px
    text-align: center
  &__links
    list-style: none
    margin: 0
    padding: 0
