<div>
  <h1 class="main__title">Страницы</h1>
  <nav class="main__navigation">
    <ul class="main__links">
      <li>
        {{{linkSignin}}}
      </li>
      <li>
        {{{linkSignup}}}
      </li>
    </ul>
  </nav>
</div>
