<div class="error-page__container">
  <h1 class="error-page__title">{{error-title}}</h1>
  <p class="error-page__description">{{error-desc}}</p>
</div>
<a class="error-page__link" href="./index.hbs">Назад</a>
