<form class="form" novalidate>
  <h1 class="title">Авторизация</h1>
  <fieldset class="form__fieldset">
    {{{login}}}
    {{{password}}}
  </fieldset>
  {{{button}}}
  <p class="form-link">Ещё не зарегистрированы?</p>
  {{{link}}}
</form>
